<p class="game-text">Welcome to the start of the game</p>
<p>Type "start" to begin</p>

<form class="" action="/start" method="get">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<cetner> <input id="user-input" type="text" name="player_input" placeholder="this is hard to read"> </cetner>
</form>
