<p class="game-text">Welcome to the start of the game</p>
<p>Type "start" to begin</p>

<form class="" action="/start" method="get">


<center> <input id="user-input" type="text" name="player_input" placeholder=""> </center>
</form>
