<p class="game-text">Welcome to the start of the game</p>
<p>Type "start" to begin</p>

<br>
<br>
<br>

<!-- <div class="shadow">
<img class="start_img" src="/coin.gif">
</div> -->

<footer>
<form class="" action="/start" method="get">
<input class="user-input" type="text" name="player_input" autofocus>
</form>
</footer>
