<p class="game-text">Welcome to the start of the game</p>

<form class="" action="index.html" method="post">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<cetner> <input id="user-input" type="text" name="player_input" placeholder="this is hard to read"> </cetner>


</form>
