<h1>Australia: A Christmas Story</h1>

<input type="checkbox" id="switch" checked>
<label for="switch" class="switch-label">Turn </label>

<div class="container">
<iframe class="iframe-div" id="game-frame" src="/game" width="800px" height="600px" name="game_space" frameborder="1"></iframe>
</div>
