<input type="checkbox" id="switch" checked>
<label for="switch" class="switch-label">Turn </label>
<h1 class="flash" id="game_name">The Sleepy Capybara</h1>



<div class="container">
<iframe class="iframe-div" id="game-frame" src="/game" width="800px" height="600px" name="game_space" frameborder="1"></iframe>
</div>
