/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'px437_ami_biosregular';
  src: url('px437_ami_bios-webfont.woff2') format('woff2'),
  url('px437_ami_bios-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;

body {
  font-family: 'px437_ami_biosregular';
  background:#111;
  color:white;
  padding-top:20px;
  padding-left:20px;
  text-align: center;
  font-size: 13px;
}

button {
  display:inline-block;
  cursor:pointer;
  background:#22252b;
  color:white;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  border-radius:5px;
  margin-top:10px;
  border: none;
}


.background {
    background-image: url(https://toppng.com/public/uploads/preview/old-tv-11527929327amrqtw5udw.png);
    background-repeat: no-repeat;
    height: 810px;
    background-position: center;
    background-size: contain;
}

#switch {
  display:none;
}
.switch-label {
  display:inline-block;
  cursor:pointer;
  background:#22252b;
  color:white;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  border-radius:5px;
  margin-top:10px;
  &::after {
    content:"on";
  }
  &::before {
    content:" ";
    display:inline-block;
    border-radius:100%;
    width:10px;
    height:10px;
    background:#003321;
    margin-right:10px;
    border:1px solid #111;
  }
  &:active {
    box-shadow:none;
    transform:translate3d(0,2px,0);
  }
}
#switch:checked+.switch-label {
  &::before {
    background:#22ff55;
  }
  &::after {
    content:"off";
  }
}

@keyframes flicker {
  $steps:20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      opacity:random();
    }
  }
}
.container {
  background-repeat: no-repeat;
  height: 800px;
  background-position: center;
  background-size: contain;


  // flicker
  &::after {
    content:" ";
    display:block;
    position:absolute;
    height: 500px;
    width: 735px;
    background:transparentize($screen-background,.7);
    opacity:0;
    z-index:2;
    margin-top: -505px;
    margin-left: 100px;
    pointer-events:none;
    border: none;
    border-radius: 10px;
    border-radius: 2em / 5em;
  }

  &::before {
    content:" ";
    display:block;
    position:absolute;
    height: 500px;
    width: 735px;
    background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
    margin-top: 115px;
    margin-left: 100px;
    border: none;
    border-radius: 10px;
    border-radius: 2em / 5em;
  }
}
#switch:checked~.background>.container::after {
  animation:flicker 0.15s infinite;
}

@keyframes turn-on{
  0% {
    transform:scale(0.000,0.0001);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:1;
  }
  3% {
    transform:scale(0,0.00001);
  }

  6% {
    transform:scale(.1,0.01);
    opacity:1;
  }

  9% {
    transform:scale(1,.1);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:0;
  }

  11% {
    transform:scale(1,1);
    -webkit-filter:contrast(0) brightness(0) ;
    filter:contrast(0) brightness(0);
    opacity:0;
  }

  100% {
    transform:scale(1,1);
    -webkit-filter:contrast(1) brightness(1.2) saturate(1.3);
    filter:contrast(1) brightness(1.2) saturate(1.3);
    opacity:1;
  }
}
@keyframes turn-off{
  0% {
    transform:scale(1,1.3);
    -webkit-filter:brightness(1);
    filter:brightness(1);
    opacity:1;
  }
  60% {
    transform:scale(1.3,0.001);
    -webkit-filter:brightness(10);
    filter:brightness(10);
  }
  100% {
    animation-timing-function:$ease-in-quint;
    transform:scale(0.000,0.0001);
    -webkit-filter:brightness(50);
    filter:brightness(50);
  }
}

#switch~.background>.container {
  animation: turn-off 0.55s $ease-out-quint;
  animation-fill-mode:forwards;
}
#switch:checked~.background>.container {
  animation: turn-on 4s linear;
  animation-fill-mode:forwards;
}

@keyframes overlay-anim {
  0% {
    visibility:hidden;
  }
  20% {
    visibility:hidden;
  }
  21% {
    visibility:visible;
  }
  100% {
    visibility:hidden;
  }
}
.overlay {
  color:#00FF00;
  position:absolute;
  top:20px;
  left:20px;
  font-size:60px;
  //text-shadow:2px 2px black,-2px -2px black, -2px 2px black, 2px -2px black;
  visibility:hidden;
  pointer-events:none;
}
#switch:checked~.background>.container .overlay {
  animation:overlay-anim 5s linear;
  animation-fill-mode:forwards;
}

#game-frame {
  margin-top: 120px;
  margin-right: 215px;
  border: none;
  border-radius: 10px;
  border-radius: 2em / 5em;
}

#switch:checked~#game_name {
  font-size: 55px;
  margin-top: 50px;
  padding-bottom: 50px;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
#switch~#game_name {
  font-size: 55px;
  margin-top: 50px;
  padding-bottom: 50px;
}

input {
  width: 475px;
  margin-left: -41px;
  background-color: $screen-background;
  color: #EEE;
  text-align: center;
  border-color: $screen-background;
  text-transform: uppercase;
}

.options {
  padding-top: 50px;
  margin-bottom: 50px;
}

p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  caret-color: blue;
  border: #252121 solid 1px;
}

#switch:checked~#game_name{
  font-size: 40px;
  margin-top: 100px;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
#switch~#game_name{
  font-size: 40px;
  margin-top: 100px;
}

img {
  width: 25%;
  border-radius: 50%;
}


footer {
  position: fixed;
  bottom: 1px;
  width: 100%;
}
